# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.dist/
.build/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# MkDocs
site/

# Envs
.venv/
venv/
ENV/
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Runtime
*.log
var/
